
{% if obj %}
<table class="table table-striped table-bordered">
{% for key, value in obj %}
    <tr><td style="width:20%;text-align:right">{{ key }}</td><td>{{ value|raw }}</td></tr>
{% endfor %}
</table>
{% endif %}
